<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">

 <servlet>
  <servlet-name>LifeCycleServlet</servlet-name>
  <servlet-class>com.lifecycle.LifeCycleServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>LifeCycleServlet</servlet-name>
  <url-pattern>/life</url-pattern>
 </servlet-mapping>

</web-app>
